{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") -}}
#!/bin/bash
set -eufo pipefail
IFS=$'\n\t'

if ! command -v paru &> /dev/null
then
  sudo pacman -Sy --needed base-devel rustup
  rustup toolchain install stable
  BUILDDIR=$(mktemp -d)
  git clone https://aur.archlinux.org/paru.git $BUILDDIR
  pushd $BUILDDIR
  makepkg -si
  popd $BUILDDIR
  rm -rf $BUILDDIR
fi

paru -Syu --needed \
{{- range $i, $v := .packages.arch.explicit }}
  {{- if $i }} \{{ end }}{{ . | nindent 2 -}}
{{- end }}

paru -S --asdeps --needed \
{{- range $i, $v := .packages.arch.deps }}
  {{- if $i }} \{{ end }}{{ . | nindent 2 -}}
{{- end }}
{{ end -}}
