{{- $email := promptString "email" -}}
{{- $gpgKey := promptString "gpg key" -}}
[data]
  email = "{{ $email }}"
  signingkey = "{{ $gpgKey }}"
[diff]
  format = "git"
  pager = "delta"
[merge]
  command = "nvim"
  args = "-d"
[gpg]
  recipient = "{{ $gpgKey }}"
