# common exports
export EDITOR=nvim
export PAGER=less
export MANPAGER="sh -c 'col -bx | bat -l man -p'"
export MANROFFOPT="-c"

if [[ -x /opt/homebrew/bin/brew ]]; then
  eval $(/opt/homebrew/bin/brew shellenv)

  if [[ -x "$(/opt/homebrew/bin/brew --prefix)"/opt/rustup/bin/cargo ]]; then
    path=("$(/opt/homebrew/bin/brew --prefix)"/opt/rustup/bin/ $path)
  fi
fi

typeset -U path
path=("$HOME/.local/bin" "/usr/local/bin" "/usr/local/sbin" $path)

# software versions
[[ -x "${HOME}/.cargo/bin/cargo" ]] && path=("${HOME}/.cargo/bin" $path)
[[ -f "${HOME}/.rye/env" ]] && . "${HOME}/.rye/env"
[[ -d "${HOME}/Library/Application Support/JetBrains/Toolbox/scripts" ]] && path+=("${HOME}/Library/Application Support/JetBrains/Toolbox/scripts")
