typeset -U path
path=("$HOME/.local/bin" "/usr/local/bin" "/usr/local/sbin" $path)

# common exports
export EDITOR=nvim
export PAGER=less
export MANPAGER="sh -c 'col -bx | bat -l man -p'"

# gnupg
unset SSH_AGENT_PID
if [ "${gnupg_SSH_AUTH_SOCK_by:-0}" -ne $$ ]; then
  export SSH_AUTH_SOCK="$(gpgconf --list-dirs agent-ssh-socket)"
fi

# software versions
[[ -x $(whence cargo) ]] && path=("$HOME/.cargo/bin" $path)
[[ -x $(whence luarocks) ]] && path=("$HOME/.luarocks/bin" $path)
[[ -x $(whence jenv) ]] && path=("$HOME/.jenv/bin" $path)
[[ -x $(whence pyenv) ]] && eval "$(pyenv init --path)"

# nix
if [ -e "$HOME/.nix-profile/etc/profile.d/nix.sh" ]; then
  source "$HOME/.nix-profile/etc/profile.d/nix.sh"
fi
{{ if eq .chezmoi.os "darwin" -}}

# brew
export HOMEBREW_GITHUB_API_TOKEN='{{ (index (bitwarden "item" "e10deb8d-0f6d-4fbd-8535-aad6000175a7").fields 0).value }}'
{{ end -}}
