# history
HISTFILE=~/.zsh_history
HISTSIZE=1000
SAVEHIST=1000

# options
setopt autocd beep extendedglob nomatch notify
cdpath=("$HOME/Projects")

# vi mode
bindkey -v

# shell options
export EDITOR=nvim

# completion
zstyle :compinstall filename "$HOME/.zshrc"
autoload -Uz compinit
compinit

# starship
eval "$(starship init zsh)"

# aliases
alias cp='cp -i'
alias df='df -h'
alias free='free -m'
alias ls='exa'
alias ll='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'
alias cat='bat'

# restic
export RESTIC_REPOSITORY='{{ (index (bitwarden "item" "restic").login.uris 0).uri }}'
export RESTIC_PASSWORD_COMMAND="bw get password restic"

# theme
export BASE16_SHELL_SET_BACKGROUND=true
BASE16_SHELL="$HOME/.config/base16-shell/"
if [ -n "$PS1" ] && [ -s "$BASE16_SHELL/profile_helper.sh" ]; then
  eval "$("$BASE16_SHELL/profile_helper.sh")"
fi

# fuzzy search
if [ -f /usr/share/fzf/completion.zsh ]; then
  source /usr/share/fzf/completion.zsh
elif [ -f /usr/local/opt/fzf/shell/completion.zsh ]; then
  source /usr/local/opt/fzf/shell/completion.zsh
fi

if [ -f /usr/share/fzf/key-bindings.zsh ]; then
  source /usr/share/fzf/key-bindings.zsh
elif [ -f /usr/local/opt/fzf/shell/key-bindings.zsh ]; then
  source /usr/local/opt/fzf/shell/key-bindings.zsh
fi

# gnupg
unset SSH_AGENT_PID
if [ "${gnupg_SSH_AUTH_SOCK_by:-0}" -ne $$ ]; then
  export SSH_AUTH_SOCK="$(gpgconf --list-dirs agent-ssh-socket)"
fi

# software versions
command -v jenv &> /dev/null && eval "$(jenv init -)"
{{- if eq .chezmoi.os "darwin" }}

# brew
export HOMEBREW_GITHUB_API_TOKEN='{{ (index (bitwarden "item" "e10deb8d-0f6d-4fbd-8535-aad6000175a7").fields 0).value }}'
{{- end }}
