# history
HISTFILE=~/.zsh_history
HISTSIZE=1000
SAVEHIST=1000

# options
setopt autocd beep extendedglob nomatch notify
cdpath=("$HOME/Projects")

# vi mode
bindkey -v

# completion
zstyle :compinstall filename "$HOME/.zshrc"
autoload -Uz compinit
compinit

# starship
eval "$(starship init zsh)"

# aliases
alias cp='cp -i'
alias df='df -h'
alias free='free -m'
alias ll='ls -l'
alias la='ls -a'
alias lla='ls -la'

alias ls='exa -F'
alias lt='ls -T'
command -v batcat &> /dev/null && alias bat='batcat'
alias cat='bat --paging=never'
alias ssh='kitty +kitten ssh'

# restic
export RESTIC_REPOSITORY='{{ (index (bitwarden "item" "restic").login.uris 0).uri }}'
export RESTIC_PASSWORD_COMMAND="bw get password restic"

# theme
export BASE16_SHELL_SET_BACKGROUND=true
BASE16_SHELL="$HOME/.config/base16-shell/"
if [ -n "$PS1" ] && [ -s "$BASE16_SHELL/profile_helper.sh" ]; then
  eval "$("$BASE16_SHELL/profile_helper.sh")"
fi

# fuzzy search
if [ -f /usr/share/fzf/completion.zsh ]; then
  source /usr/share/fzf/completion.zsh
elif [ -f /usr/local/opt/fzf/shell/completion.zsh ]; then
  source /usr/local/opt/fzf/shell/completion.zsh
fi

if [ -f /usr/share/fzf/key-bindings.zsh ]; then
  source /usr/share/fzf/key-bindings.zsh
elif [ -f /usr/share/doc/fzf/examples/key-bindings.zsh ]; then
  source /usr/share/doc/fzf/examples/key-bindings.zsh
elif [ -f /usr/local/opt/fzf/shell/key-bindings.zsh ]; then
  source /usr/local/opt/fzf/shell/key-bindings.zsh
fi

# fish like
if [ -f /usr/local/share/zsh-autosuggestions/zsh-autosuggestions.zsh ]; then
  source /usr/local/share/zsh-autosuggestions/zsh-autosuggestions.zsh
elif [ -f /usr/local/zsh-autosuggestions/zsh-autosuggestions.zsh ]; then
  source /usr/local/zsh-autosuggestions/zsh-autosuggestions.zsh
fi
if [ -f /usr/local/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ]; then
  source /usr/local/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
elif [ -f /usr/local/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ]; then
  source /usr/local/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
fi

# gnupg
export GPG_TTY=$(tty)

# software versions
command -v jenv &> /dev/null && eval "$(jenv init -)"
{{- if eq .chezmoi.os "darwin" }}

# brew
export HOMEBREW_GITHUB_API_TOKEN='{{ (index (bitwarden "item" "e10deb8d-0f6d-4fbd-8535-aad6000175a7").fields 0).value }}'
{{- end }}

# k8s
source <(kubectl completion zsh)
source <(helm completion zsh)
source <(flux completion zsh) && compdef _flux flux
