[user]
	name = Adam Cook
	email = {{ .email }}
{{- if index . "signingkey" }}
	signingkey = {{ .signingkey }}
[commit]
	gpgsign = true
{{- end }}
[status]
	submoduleSummary = true
[pull]
	rebase = true
	ff = only
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool "vimdiff"]
	path = nvim
[mergetool "vimdiff"]
	path = nvim
