[commit]
{{- if index . "signingkey" }}
    gpgSign = true
{{- end }}

[core]
    pager = delta

[delta]
    light = false
    line-numbers = true
    navigate = true

[diff]
    colorMoved = default

[gpg]
# TODO switch to ssh on cookbook
{{- if index . "signingkey" }}
    format = openpgp
{{- end }}

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3
    tool = nvimdiff

[pull]
    rebase = true
    ff = only

[push]
    autoSetupRemote = true
{{- if index . "signingkey" }}
    gpgSign = if-asked
{{- end }}

[status]
    submoduleSummary = true

[tag]
{{- if index . "signingkey" }}
    gpgSign = true
{{- end }}

[user]
    name = Adam Cook
    email = {{ .email }}
{{- if index . "signingkey" }}
    signingkey = {{ .signingkey }}
{{- end }}

[credential "https://github.com"]
    helper = 
    helper = !gh auth git-credential

[credential "https://gist.github.com"]
    helper = 
    helper = !gh auth git-credential
