#!/bin/bash
set -euo pipefail
IFS=$'\n\t'

{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "debian" -}}
sudo apt install \
  zsh \
  zsh-autosuggestions \
  zsh-syntax-highlighting \
  gnupg \
  vim \
  neovim \
  python3-neovim \
  fzf \
  exa \
  ripgrep \
  fd-find \
  jq \
  restic \
  kubectl \
  helm \
  awscli

sudo apt install snapd
sudo snap install starship
sudo snap install bw
sudo snap install batcat
sudo snap install yq
sudo snap install fluxctl

echo 'git-delta must be manually installed'
echo 'rustup must be manually installed'
echo 'dust must be install using cargo'
{{ else if eq .chezmoi.osRelease.id "arch" -}}
yay -S --needed \
  zsh \
  zsh-autosuggestions \
  zsh-syntax-highlighting \
  gnupg \
  vim \
  neovim \
  fzf \
  exa \
  ripgrep \
  fd \
  dust \
  jq \
  restic \
  kubectl \
  helm \
  aws-cli \
  starship \
  bitwarden-cli \
  bat \
  yq \
  flux-go \
  git-delta \
  rustup

yay -S --needed --asdeps \
  python-neovim
{{ end -}}
{{ else if eq .chezmoi.os "darwin" -}}
brew install \
  zsh \
  zsh-autosuggestions \
  zsh-syntax-highlighting \
  gnupg \
  vim \
  neovim \
  fzf \
  exa \
  ripgrep \
  fd \
  dust \
  jq \
  restic \
  kubectl \
  helm \
  awscli \
  starship \
  bitwarden-cli \
  bat \
  yq \
  fluxcd/tap/flux \
  git-delta \
  rustup \
  jenv

pip3 install --user pynvim
{{ end -}}
