ControlMaster auto
ControlPersist yes
ControlPath ~/.ssh/sockets/%C

CanonicalizeHostname yes

{{- if contains "cookbook" .chezmoi.fqdnHostname }}
Include {{ .chezmoi.homeDir }}/.colima/ssh_config

{{ (bitwarden "item" "Maxar SSH").notes }}
{{- else }}
Host honor.svc.lan cultivation.svc.lan yggdrasil.svc.lan
  HostKeyAlgorithms ssh-rsa,ssh-dss

Host hoid.lan

Host *.lan *.shadesmar *.dgst.xyz
  User adam

Host hoid.*
  RemoteForward /run/user/1000/gnupg/S.gpg-agent ${XDG_RUNTIME_DIR}/gnupg/S.gpg-agent.extra
  RemoteForward /run/user/1000/gnupg/S.gpg-agent.ssh ${XDG_RUNTIME_DIR}/gnupg/S.gpg-agent.ssh
{{- end }}
