[commit]
{{- if index . "signingkey" }}
    gpgSign = true
{{- end }}

[core]
    editor = nvim
    pager = delta

[delta]
    light = false
    line-numbers = true
    navigate = true

[diff]
    colorMoved = default

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3
    tool = nvimdiff

[pull]
    rebase = true
    ff = only

[push]
    autoSetupRemote = true
    default = upstream
{{- if index . "signingkey" }}
    gpgSign = if-asked
{{- end }}

[rebase]
    autoSquash = true
    autoStash = true

[status]
    submoduleSummary = true

[submodule]
    recurse = true
    propagateBranches = true

[tag]
{{- if index . "signingkey" }}
    gpgSign = true
{{- end }}

[user]
    name = Adam Cook
    email = {{ .email }}
{{- if index . "signingkey" }}
    signingkey = {{ .signingkey }}
{{- end }}

[credential "https://github.com"]
    helper = 
    helper = !gh auth git-credential

[credential "https://gist.github.com"]
    helper = 
    helper = !gh auth git-credential
