{{ if index . "signingkey" -}}
[commit]
	gpgSign = true

{{ end -}}
[core]
	editor = nvim
	pager = delta

[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential

[credential "https://gitlab.com"]
	helper =
	helper = !glab auth git-credential

[delta]
	line-numbers = true
	navigate = true

[diff]
	colorMoved = default

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictstyle = diff3
	tool = nvimdiff

[pull]
	ff = only
	rebase = true

[push]
	autoSetupRemote = true
	default = upstream
{{- if index . "signingkey" }}
	gpgSign = if-asked
{{- end }}

[rebase]
	autoSquash = true
	autoStash = true

{{ if index . "signingkey" -}}
[tag]
	gpgSign = true

{{ end -}}
[user]
	email = {{ .email }}
	name = Adam Cook
{{- if index . "signingkey" }}
	signingkey = {{ .signingkey }}
{{- end }}
